hr{
    display: none;
}

body{
    width: 100%;
    margin: 0;
}

article{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    display: flex;
    justify-content: center;
    height: 5vh;
    padding: 15px 0;
}

#subtitle{
    text-align: center;
    margin: 0%;
    padding: 10px 0;
    font-size: 0.8em;
    color: rgb(14, 104, 104);
    border-top: 0.5px solid;
    border-color: yellow;
    background-color: rgba(245, 255, 103, 0.156);
    
}

#subtitle > span{
    font-style: oblique;
}

.logo{
    border: 1px solid;
    border-radius: 20px;
    border-color: white;
    
}

h1{
    text-align: center;
    padding-top: 50px;
}

p{
    display: flex;
    justify-content: center;
}

blockquote{
    display: flex;
    justify-content: center;
    opacity: 0.5;
}

#featured{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -22.7rem;
    border-left: 2px solid;
    border-color: yellow;
    background-color: rgba(245, 255, 103, 0.156);
    margin-bottom: 30px; 
}

#featured h3,
p{
    margin: 0; 
    padding: 0 15px;
}

#featured h3{
    color: rgb(255, 128, 0);
}

#ingredients{
    margin-left: -22px;
   
}

#ingredients a{
    padding-bottom: 10px;
}

#ingredients hr{
    display: flex;
    width: 100%;
    color: rgb(16, 172, 120);
}

ul{
    word-spacing: 3px;
    line-height: 35px;
}

h2{
    font-weight: 500;
    border-bottom: 1px solid;
    padding-bottom: 20px;
    border-color: rgba(85, 236, 186, 0.742);
}

.grasso{
    font-weight: 1000;
    display: block;
}

ol li{
    font-weight: 1000;
    padding-bottom: 10px;
}
